# Server
PORT=3000
DATABASE_URL=sqlite://./sqlite.db
STORAGE_BACKEND=local # local | s3

# Job Queue
REDIS_URL=redis://localhost:6379

# Workers
WHISPER_MODEL=base
# OLLAMA_URL=http://localhost:11434
# OPENAI_API_KEY=your_api_key_here
